body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .h1{
    margin: 0;
    
  }
  
  .header-right {
    text-align: right left;
  }
  
  .event-photo {
    display: block;
   
    margin: auto;
    width: 85%;
    
  }
  
body{
    background:linear-gradient(rgb(109, 151, 115),rgb(109, 151, 115),rgb(109, 151, 115))
}